<!-- extend Space layout as Default -->
{% extends "Space.html" %}

    {% block style %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap-4.4.1.css') }}">
<link rel="stylesheet" href={{ url_for('static',filename='css/space.css') }}>
{% endblock %}

    {%block title%}
<title>Oops, forget to login?</title>
{% endblock %}

{% block user %}
<hr>
<div class="row">
  <div class="col-6 col-lg-12">
    <h1>Please Login</h1>
  </div>
</div>
<hr>
<footer class="text-center">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p>Copyright © {Group name}. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
{% endblock %}