<!DOCTYPE html>
<html>

<head>
    <title>
        {% block title %}
        SaBiSaBi
        {% endblock title %}
    </title>
    {% block style %}
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap-4.4.1.css')}}">
    {% endblock style %}
</head>

<body>
    {% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark"> <a class="navbar-brand" href="#">SaBiSaBi</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span
                class="navbar-toggler-icon"></span> </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {% block navbar_elements %}
                <li class="nav-item active"> <a class="nav-link" href="{{url_for('main.index')}}">主站 <span
                            class="sr-only">(current)</span></a> </li>
                <li class="nav-item"> 
                    {% if current_user.is_anonymous %}
                    <a class="nav-link" href="{{url_for('main.spaceUser',username='')}}">个人主页</a> 
                    {% else %}
                    <a class="nav-link" href="{{url_for('main.spaceUser',username=current_user.name)}}">个人主页</a>     
                    {% endif %}
                </li>
                <!--                     <li class="nav-item"> <a class="nav-link" href="#">动态</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="#">收藏</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="#">历史</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="#">订阅</a> </li> -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        更多
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/termOfUse.html">用户协议</a>
                        <a class="dropdown-item" href="/privacy.html">隐私政策</a>
                    </div>
                </li>
                {% endblock navbar_elements %}
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search More" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    {% endblock navbar %}
    {% block content %}

    {% endblock content %}

    <div class="container">
        {% block footer %}
        <footer class="text-center">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <p>Copyright © SabiSabi Team. All rights reserved.</p>
                    </div>
                </div>
            </div>
        </footer>
        {% endblock footer %}
    </div>

    {% block script %}
    <script src="{{ url_for('static',filename='js/jquery-3.4.1.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static',filename='js/popper.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static',filename='js/bootstrap-4.4.1.js') }}" type="text/javascript"></script>
    {% endblock script %}
</body>

</html>
