{% extends 'base/spacebase.html' %}

{%block title%}
Edit Profile
{% endblock %}

{% block content %}
<div class="container">
  <hr>
  <div class="row">
    <div class="col-6 col-lg-12">
      <h1>Edit Profile</h1>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="container">
      <div class="row clearfix">
        <div class="col-md-12 column">
          <form>
            <div class="form-group">
              <label for="nickName">昵称</label>
              {{ form.nickName(class='form-control') }}
            </div>
            <div class="form-group">
              <label for="password">密码</label>
              {{ form.password(class='form-control') }}
            </div>
            <div class="form-group">
              <label for="password">确认密码</label>
              {{ form.password2(class='form-control') }}
            </div>
            <div class="form-group">
              <label for="introduction">个人简介</label>
              {{ form.introduction(class='form-control') }}
            </div>
            <div class="form-group">
              <label for="email">邮箱</label>
              {{ form.email(class='form-control') }}
            </div>
            <div class="form-group">
              <label for="phone">手机号码</label>
              {{ form.phone(class='form-control') }}
            </div>
            {{ form.submit(class='btn btn-primary') }}
          </form>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <footer class="text-center">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <p>Copyright © {Group name}. All rights reserved.</p>
        </div>
      </div>
    </div>
  </footer>
</div>
{% endblock %}