<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Index</title>
<link href="css/bootstrap-4.4.1.css" rel="stylesheet" type="text/css">
    <link href="css/index.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="container">
  <div class="row">
    <div> <img src="https://wx3.sinaimg.cn/mw690/006nMOhAgy1gj24apl46mj301g01f0sh.jpg"> <span>当前共有26409个video</span> </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-8 col-sm-12 col-lg-6 col-xl-3">
      <div class="media-object-default">
        <div class="col-xl-12"> <img class="media-icon" src="images/MediaObj_Placeholder.png"  alt="placeholder image">
          <div class="media-body ml-2"> 233</div>
</div>
        <div class="col-xl-12"> <img class="media-icon" src="images/MediaObj_Placeholder.png"  alt="placeholder image">
          <div class="media-body ml-2"> 233</div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12 col-lg-6 col-xl-3">
      <div class="col-xl-12"> <img class="media-icon" src="images/MediaObj_Placeholder.png"  alt="placeholder image">
        <div class="media-body ml-2"> 233</div>
      </div>
      <div class="col-xl-12"> <img class="media-icon" src="images/MediaObj_Placeholder.png"  alt="placeholder image">
        <div class="media-body ml-2"> 233</div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12 col-lg-6 col-xl-3">
      <div class="col-xl-12"> <img class="media-icon" src="images/MediaObj_Placeholder.png"  alt="placeholder image">
        <div class="media-body ml-2"> 233</div>
      </div>
      <div class="col-xl-12"> <img class="media-icon" src="images/MediaObj_Placeholder.png"  alt="placeholder image">
        <div class="media-body ml-2"> 233</div>
      </div>
    </div>
    <div class="col-md-4 col-xl-3"> <img src="images/ImgResponsive_Placeholder.png" alt="Placeholder image"></div>
  </div>
</div>
</body>
</html>
