{% extends 'base/spacebase.html' %}

{%block title%}
{USER NAME SPACE}
{% endblock %}

{% block content %}    
<div class="container">
    {% block user %}
    <hr>
    <div class="row">
        <div class="col-6 col-lg-12">
            <h1>{% block userNickName %}{% endblock %}</h1>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-8 col-sm-12 col-lg-6">
            <div class="media">
                <img class="mr-3 mt-2 " src="../static/images/115X115.gif" alt="User photo">
                <div class="media-body">
                    <h5 class="mt-2"><img class="small-icon mr-1" src="{{ url_for('static',filename='../static/images/id.svg') }}" alt="ID icon">{% block userID %}{% endblock %}{% block userVIP %}{% endblock %}</h5>
                    <div class="progress mt-2">
                        <!-- level at style % -->
                        {% block userLevel %}
                        <div class="progress-bar bg-success" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%"> {User Level}</div>
                        {% endblock %}
                    </div>
                    <h5 class="mt-2"><img class="small-icon mr-1" src="{{ url_for('static',filename='../static/images/coin.svg') }}" alt="Coin icon">{% block userCoins %}{% endblock %}</h5>
                    <h5 class="mt-2"><img class="small-icon mr-1" src="{{ url_for('static',filename='../static/images/Star.svg') }}" alt="Like icon">{% block userLikes %}{% endblock %}</h5>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 col-lg-6">
            <p class="mt-1">{% block userIntroduction %}{% endblock %}</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <h2>{TO BE FILLED :P}</h2>
            <hr>
            <div class="row">
                <div class="col-6">
                    <h4>{XXX}</h4>
                </div>
                <div class="col-6">
                    <h5 class="text-right"><span aria-hidden="true"></span> {XXX}</h5>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <h2>Favourite Video</h2>
            <hr>
            <ul class="list-unstyled">
                <li class="media">
                    <div class="media-body">
                        {% block userFavouriteVideos %}
                        <!-- Nested media object -->
                        <div class="media">
                            <img class="d-flex mr-3" src="../static/images/MediaObj_Placeholder.png" alt="placeholder image">
                            <div class="media-body">
                                <h5 class="mt-0">{Video1 Name}</h5>
                                {Video1 Information}
                                <!-- Nested media object -->
                            </div>
                        </div>
                        <!-- Nested media object -->
                        <div class="media">
                            <img class="d-flex mr-3" src="../static/images/MediaObj_Placeholder.png" alt="placeholder image">
                            <div class="media-body">
                                <h5 class="mt-0">{Video2 Name}</h5>
                                {Video2 Information}
                            </div>
                        </div>
                        {% endblock %}
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <hr>
</div>
{% endblock content %}