{% extends 'base/spacebase.html' %}

{%block title%}
{% if user.nickName == ''%}
    Empty Nickname
{% else %}
    {{user.nickName}}'s Space
{% endif %}
{% endblock %}

{% block content %}
<div class="container">
    {% block user %}
    <hr>
    <div class="row">
        <div class="col-6 col-lg-12 col-xl-10">
            <h1>{% block userNickName %}{% endblock %}</h1>
        </div>
        <div class="col-2">
            <button type="button" class="ml-4 mt-2 btn btn-info">Edit Profile</button>
            {{ form.editButton(class='ml-4 mt-2 btn btn-info') }}
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-8 col-sm-12 col-lg-6">
            <div class="media">
                {% block userPhotoPath %}
                    <img class="mr-3 mt-2 " src=".." alt="User photo">
                {% endblock userPhotoPath %}
                <div class="media-body">
                    <h5 class="mt-2"><img class="small-icon mr-1"
                            src="{{ url_for('static',filename='images/id.svg') }}" alt="ID icon" width="20px">{% block
                        userID %}{% endblock %}{% block userVIP %}{% endblock %}</h5>
                    <div class="progress mt-2">
                        <!-- level at style % -->
                        {% block userLevel %}
                        <div class="progress-bar bg-success" role="progressbar" aria-valuenow="70" aria-valuemin="0"
                            aria-valuemax="100" style="width: 70%"> {User Level}</div>
                        {% endblock %}
                    </div>
                    <h5 class="mt-2"><img class="small-icon mr-1"
                            src="{{ url_for('static',filename='images/coin.svg') }}" alt="Coin icon" width="20px">{% block
                        userCoins %}{% endblock %}</h5>
                    <h5 class="mt-2">
                        <img class="small-icon mr-1" src="{{ url_for('static',filename='images/Star.svg') }}" alt="Like icon" width="20px">
                        {% block userLikes %}
                        {% endblock %}
                    </h5>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 col-lg-6">
            <p class="mt-1">{% block userIntroduction %}{% endblock %}</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <h2>Personal Information</h2>
            <hr>
            {% block userProfile %}
            <div class="row">
                <div class="col-6 col-xl-4">
                    <h4>Email</h4>
                </div>
                <div class="col-6 col-xl-8">
                    <h5 class="text-right"><span aria-hidden="true"></span>233@sbsb.com</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-xl-4">
                    <h4>Phone</h4>
                </div>
                <div class="col-6 col-xl-8">
                    <h5 class="text-right"><span aria-hidden="true"></span>13912345678</h5>
                </div>
            </div>
            {% endblock %}
        </div>
        <div class="col-md-6 col-sm-12">
            <h2>Favourite Video</h2>
            <hr>
            <ul class="list-unstyled">
                <li class="media">
                    <div class="media-body">
                        {% block userFavouriteVideos %}
                        <!-- Nested media object -->
                        <div class="media">
                            <img class="d-flex mr-3" src="../static/images/MediaObj_Placeholder.png"
                                alt="placeholder image">
                            <div class="media-body">
                                <h5 class="mt-0">{Video1 Name}</h5>
                                {Video1 Information}
                                <!-- Nested media object -->
                            </div>
                        </div>
                        <!-- Nested media object -->
                        <div class="media">
                            <img class="d-flex mr-3" src="../static/images/MediaObj_Placeholder.png"
                                alt="placeholder image">
                            <div class="media-body">
                                <h5 class="mt-0">{Video2 Name}</h5>
                                {Video2 Information}
                            </div>
                        </div>
                        {% endblock %}
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <hr>
    {% endblock %}
</div>
{% endblock %}