{% extends 'base/spacebase.html' %}

{%block title%}
Term of Use
{% endblock %}

{% block content %}
<div class="container mt-2">
  <h1 class="text-center"><strong>SaBiSaBi用户使用协议</strong></h1>
  <p><span style="font-size: 16px;">更新时间：2021年【11】月【28】日</span></p>
  <p><span style="font-size: 16px;">生效时间：2021年【12】月【1】日</span></p>
  <div class="act-rich-render-content" style="font-size: 16px;">
    <p style="text-align:center;"></p>
    <p style="text-align:center;"></p>

    <p>【首部及导言】</p>
    <p>《SaBiSaBi用户使用协议》（以下简称“本协议”）是您与SaBiSaBi之间关于使用SaBiSaBi各项服务的法律协议。“SaBiSaBi”是指SaBiSaBi的运营项目组SaBiSaBi项目组及其关联组织、个人。</p>
    <p>
      <strong>本协议中与您的权益（可能）存在重大关系的条款（包括免除SaBiSaBi责任的条款、限制您权利的条款、争议解决条款及司法管辖条款等），SaBiSaBi已采用字体加粗的方式来特别提醒您，请您留意重点查阅。请您确保您在使用SaBiSaBi服务前已仔细阅读、充分理解并毫无保留地接受本协议所有条款。</strong>
    </p>
    <p>
      <strong>《SaBiSaBi隐私政策》</strong>以及SaBiSaBi公布的其他协议规范、规则、声明、公告、政策等（以下统称“其他SaBiSaBi规则”）是本协议不可分割的组成部分，您在使用SaBiSaBi服务时应同样遵守。<strong>您接受并同意本协议的行为即视为您同意并接受其他SaBiSaBi规则，您接受并同意任一其他SaBiSaBi规则的行为亦视为您接受并同意本协议。</strong>
    </p>
    <p>
      <strong>您确认您具备完全民事权利能力和完全民事行为能力，有能力同意并遵守本协议，并对您本协议项下的全部行为独立承担法律责任。若您不具备前述与您行为相适应的民事行为能力，则应获得法定监护人的知情同意。如您尚未成年，请在法定监护人的陪同下阅读和判断是否同意本协议，请特别注意未成年人条款。未成年人行使和履行本协议项下的权利和义务视为已获得法定监护人的认可。</strong>
    </p>
    <p></p>
    <p></p>
    <p><strong>1. 服务说明</strong></p>
    <p></p>
    <p>1.1 SaBiSaBi向您提供包括但不限于如下服务：</p>
    <p>1.1.1 SaBiSaBi网站：SaBiSaBi.com（及其他由SaBiSaBi运营的任何网站）；</p>
    <!--<p>1.1.2 SaBiSaBi直接拥有或运营的包括但不限于PC、平板、手机、电视、机顶盒、可穿戴设备、车内平板设备、智能音箱设备等全部终端客户端产品；</p>-->
    <p>1.1.2 SaBiSaBi用户个人中心、硬币、钱包；</p>
    <p>1.1.3 SaBiSaBi直接拥有或运营的服务器、网络存储空间；</p>
    <p>1.1.4 SaBiSaBi提供给您的各类增值服务；</p>
    <p>1.1.5 SaBiSaBi提供给您的其他技术和/或服务，具体以SaBiSaBi实际提供的为准。</p>
    <p></p>
    <p><strong>1.2
        SaBiSaBi所提供的服务，均限于在上述1.1.1及1.1.2所述平台（以下简称“SaBiSaBi平台”）内使用，任何以恶意破解等非法手段将SaBiSaBi所提供的服务与SaBiSaBi平台分离的行为，皆不属于本协议约定的由SaBiSaBi提供的服务。由此引起的一切后果由行为人负责，SaBiSaBi将保留依法追究行为人法律责任的权利。SaBiSaBi所提供的服务仅供用户非商业性使用，用户在未经SaBiSaBi事先书面同意的情况下，不得以商业性目的使用SaBiSaBi所提供的服务。</strong>
    </p>
    <p></p>
    <p><strong>1.3
        SaBiSaBi官方所公布的方式为注册、登录、使用SaBiSaBi服务的唯一合法方式，用户通过其他任何途径、任何渠道、任何方式获取的SaBiSaBi服务（包括但不限于账号、硬币、客户端下载等）均为非法所得，SaBiSaBi概不承认其效力，且一经发现，SaBiSaBi有权立即作出删除、清零、封号等处理，任何因此导致的一切不利后果均由用户自行承担。</strong>请用户妥善保管自己的账号和密码，加强密码安全性，谨防账号泄露或被盗。<strong>因用户账号被泄露或被盗而造成的任何损失，SaBiSaBi不承担补偿责任。</strong>
    </p>
    <p></p>
    <p>1.4
      SaBiSaBi有权提前向用户公告（包括但不限于弹出公告、网站首页公告、系统消息）以修改、替换、升级与SaBiSaBi服务相关的任何软件。<strong>如果用户不同意或者不接受SaBiSaBi相关软件的修改、替代、升级，请直接拒绝、停止、取消使用行为，否则视为用户同意并接受SaBiSaBi相关软件的修改、替代、升级，同时该同意并接受的行为仍受本协议约束。</strong>
    </p>
    <p></p>
    <p>1.5
      本协议所称“用户”，包括注册获得SaBiSaBi账号的用户（以下简称“注册用户”）及未注册获得SaBiSaBi账号的用户（以下简称“非注册用户”）。凡未注册SaBiSaBi的产品和/或服务的用户，自下载或安装SaBiSaBi的产品和/或使用SaBiSaBi的服务时即自动成为SaBiSaBi的“非注册用户”。
    </p>
    <p></p>
    <p><strong>1.6
        特别提醒：由于SaBiSaBi的产品和服务较多，为您提供的产品和服务内容也有所不同，本协议为SaBiSaBi统一适用的一般性用户服务条款。针对SaBiSaBi的某些特定产品/服务，SaBiSaBi还将制定特定用户服务协议，以便更具体地与您约定SaBiSaBi的服务内容、服务规则等内容，您应在充分阅读并同意特定用户服务协议的全部内容后再使用该特定产品/服务。</strong>
    </p>
    <p></p>
    <p></p>
    <p><strong>2. 注册账号</strong></p>
    <p></p>
    <p>2.1
      部分SaBiSaBi服务仅向注册用户提供，如果您使用SaBiSaBi提供的网络存储空间进行视听节目、文字、美术摄影等内容的上传及传播等，请先根据本协议及其他SaBiSaBi规则提示的规则、流程注册成为注册用户，并确保注册信息的真实性、正确性及完整性，如果上述注册信息发生变化，您应及时更改。
    </p>
    <p></p>
    <p>2.2 您应对注册获得的SaBiSaBi账号（以下简称“账号”）项下的一切行为承担全部责任，不得侵犯包括但不限于SaBiSaBi在内的任何主体的合法权益。</p>
    <p></p>
    <p>2.3
      您理解并同意，您仅享有账号及账号项下由SaBiSaBi提供的虚拟产品及服务的使用权，账号及该等虚拟产品及服务的所有权归SaBiSaBi所有（法律法规另有规定的除外）。未经SaBiSaBi书面同意，您不得以任何形式处置账号的使用权（包括但不限于赠与、出借、转让、销售、抵押、继承、许可他人使用）。<strong>如果SaBiSaBi发现或者有合理理由认为使用者并非账号初始注册人，SaBiSaBi有权在不通知您的情况下，暂停或终止向该注册账号提供服务，并注销该账号。</strong>
    </p>
    <p></p>
    <p>2.4 <strong>您应妥善保管账号信息、账号密码以及其他与账号相关的信息、资料。如因您的原因，造成账号信息、资料、数据的变动、灭失或财产损失等，您应立即通知SaBiSaBi并自行承担相关法律后果。</strong>
    </p>
    <p></p>
    <p><strong>2.5 </strong>您同意并承诺做到：</p>
    <p>2.5.1 当您的账号或密码遭到未经授权的使用，或者发生任何安全问题时，您会立即有效地通知到SaBiSaBi；</p>
    <p>2.5.2 当您每次登录SaBiSaBi或使用相关服务后，会将有关账号等安全退出；</p>
    <p>2.5.3 您同意接受SaBiSaBi通过电子邮件、客户端、网页或其他合法方式向您发送通知信息和其他相关信息。</p>
    <p></p>
    <p><strong>2.6 您同意并承诺不从事以下行为：</strong></p>
    <p>2.6.1 冒用他人信息为自己注册SaBiSaBi账号；</p>
    <p>2.6.2 未经他人合法授权以他人名义注册SaBiSaBi账号；&nbsp;</p>
    <p>2.6.3 使用同一身份认证信息注册多个SaBiSaBi账号（包括经SaBiSaBi审核认定多个SaBiSaBi账号的实际控制人为同一人的情形）；</p>
    <p>2.6.4 窃取、盗用他人的SaBiSaBi账号、硬币、会员标识等；</p>
    <p>2.6.5 使用侮辱、诽谤、色情、政治等违反法律、道德及公序良俗的词语注册SaBiSaBi账号；</p>
    <p>2.6.6 以非法占有SaBiSaBi相关服务资源为目的，通过正当或非正当手段恶意利用网站漏洞；</p>
    <p>2.6.7 侵犯他人合法权益的其他内容。</p>
    <p></p>
    <p><strong>2.7 您理解并同意，SaBiSaBi有权对违反上述条款的用户作出禁止注册及/或封号的处理。</strong></p>
    <p></p>
    <p>2.8 您了解并知悉，您可以使用账号登录SaBiSaBi提供的SaBiSaBi体系下全部产品。</p>
    <p></p>
    <p>2.9 <strong>您理解并同意，SaBiSaBi有权在法律允许的最大范围内视情况决定收回账号使用权，无需另行通知用户亦无需征得用户同意。</strong></p>
    <p></p>
    <p></p>
    <p><strong>3. SaBiSaBi上的内容</strong></p>
    <p></p>
    <p>3.1
      SaBiSaBi上的内容是指经由SaBiSaBi提供的服务，以上传、张贴或任何其他方式传送或传播的任何资讯、资料、文字、软件、音乐、音频、照片、图形、视频、信息、链接或其他资料，无论系公开还是私下传送（以下简称“内容”），内容提供者、上传者应对其提供、上传的内容承担全部责任，<strong>如果给SaBiSaBi造成损失的，还应向SaBiSaBi承担赔偿责任。对于第三方因用户上传的内容向SaBiSaBi主张权利的，SaBiSaBi有权在不事先通知内容提供者、上传者的情况下直接采取删除、屏蔽、断开链接等必要措施。</strong>
    </p>
    <p></p>
    <p>3.2 您在SaBiSaBi上传或发布的内容，您保证对其享有合法的著作权或相应授权，SaBiSaBi有权展示、散布及推广前述内容。</p>
    <p></p>
    <p><strong>3.3
        为提高您内容曝光量及发布效率，SaBiSaBi将额外为您提供全球范围内的展示和推广服务，您同意您在SaBiSaBi的账号所发布的全部内容均授权SaBiSaBi以您的账号同步至SaBiSaBi运营的全部产品，包括但不限于PC等全部网站。同时，您允许SaBiSaBi在同步并展示内容时可自行或委托第三方进行必要的处理（包括但不限于翻译、汇编、改编等）。您在此确认并同意，SaBiSaBi有权自行或委托第三方在与上述内容、SaBiSaBi产品及相关服务、SaBiSaBi和/或SaBiSaBi品牌有关的任何宣传、推广和/或研究中以适当的方式开发和使用上述内容（全部或部分）。为避免疑义，您理解并同意，上述内容包括您拥有或被许可使用并植入内容中的个人形象、肖像、姓名、商标、服务标志、品牌、名称、标识和公司标记等。您可以随时通知SaBiSaBi取消本服务。</strong>
    </p>
    <p></p>
    <p><strong>3.4
        SaBiSaBi无法预先知晓并合理控制经由SaBiSaBi服务上传之内容，因此，您已预知在使用SaBiSaBi的服务时，可能会接触到部分令您感到不快、不适或厌恶的内容，您同意放弃由此产生的针对SaBiSaBi的任何追索权。但SaBiSaBi有权依法停止传输任何前述内容并采取相应处理，包括但不限于暂停您继续使用SaBiSaBi的部分或全部服务，保存有关记录并向有关机关报告。</strong>
    </p>
    <p></p>
    <p></p>
    <p><strong>4. 使用规则</strong></p>
    <p></p>
    <p>4.1 用户在使用SaBiSaBi服务的过程中，应遵守以下法律法规：</p>
    <p>4.1.1 《中华人民共和国保守国家秘密法》；</p>
    <p>4.1.2 《中华人民共和国著作权法》；</p>
    <p>4.1.3 《中华人民共和国计算机信息系统安全保护条例》；</p>
    <p>4.1.4 《计算机软件保护条例》；</p>
    <p>4.1.5 《网络信息内容生态治理规定》</p>
    <p>4.1.6 《信息网络传播权保护条例》</p>
    <p>4.1.7 《中华人民共和国网络安全法》；</p>
    <p>4.1.8 其他法律、法规、规章、条例等具有法律效力的规范。</p>
    <p></p>
    <p>4.2 禁止用户从事以下行为：</p>
    <p>4.2.1
      制作、上传、复制、传送、传播包含任何反对宪法所确定的基本原则、危害国家安全、泄露国家秘密、颠覆国家政权、破坏国家统一、破坏民族团结、损害国家荣誉和利益、煽动民族仇恨、民族歧视、破坏民族团结、破坏国家宗教政策、宣扬邪教和封建迷信、淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪、侮辱或者诽谤他人，侵害他人合法权益的等法律、行政法规禁止的内容或其他令人反感的包括但不限于资讯、资料、文字、软件、音乐、照片、图形、信息或其他资料；
    </p>
    <p>4.2.2 以任何方式危害未成年人；</p>
    <p>4.2.3 冒充任何人或机构，或以虚伪不实的方式谎称或使人误认为与任何人或任何机构有关；</p>
    <p>4.2.4 伪造标题或以其他方式操控识别资料，使人误认为该内容为SaBiSaBi所传送；</p>
    <p>4.2.5 将无权传送的内容（例如内部资料、机密资料）进行上载、张贴、发送电子邮件或以其他方式传送；</p>
    <p>4.2.6 将侵犯任何人的专利、商标、著作权、商业秘密等知识产权的内容加以上载、张贴、发送电子邮件或以其他方式传送；</p>
    <p>4.2.7 将广告函件、促销资料、"垃圾邮件"等，加以上载、张贴、发送电子邮件或以其他方式传送；</p>
    <p>4.2.8 跟踪或以其他方式骚扰他人；</p>
    <p>4.2.9 将有关干扰、破坏或限制任何计算机软件、硬件或通讯设备功能的软件病毒或其他计算机代码、档案和程序之资料，加以上载、张贴、发送电子邮件或以其他方式传送；</p>
    <p>4.2.10 干扰或破坏SaBiSaBi服务或与SaBiSaBi服务相连的服务器和网络，或不遵守本协议之规定；</p>
    <p>4.2.11 未经SaBiSaBi事先明确书面许可，以任何方式（包括但不限于机器人软件、蜘蛛软件、爬虫软件等任何自动程序、脚本、软件）和任何理由自行或委托他人、协助他人获取平台的服务、内容、数据；</p>
    <p>4.2.12 用户需保证其上传内容不得违反广电总局的相关规定，包括但不限于《互联网视听节目服务管理规定》（广电总局56号令）等，其上传节目应当符合法律、行政法规、部门规章的规定，上传内容不得含有以下内容：</p>
    <p>（1） 反对宪法确定的基本原则的；</p>
    <p>（2） 危害国家统一、主权和领土完整的；</p>
    <p>（3） 泄露国家秘密、危害国家安全或者损害国家荣誉和利益的；</p>
    <p>（4） 煽动民族仇恨、民族歧视，破坏民族团结，或者侵害民族风俗、习惯的；</p>
    <p>（5） 宣扬邪教、迷信的；</p>
    <p>（6） 扰乱社会秩序，破坏社会稳定的；</p>
    <p>（7） 诱导未成年人违法犯罪和渲染暴力、色情、赌博、恐怖活动的；</p>
    <p>（8） 侮辱或者诽谤他人，侵害公民个人隐私等他人合法权益的；</p>
    <p>（9） 危害社会公德，损害民族优秀文化传统的；</p>
    <p>（10） 有关法律、行政法规和国家规定禁止的其他内容。</p>
    <p>4.2.13
      您制作、发布、传播的内容需遵守《网络音视频信息服务管理规定》等法律法规规定以及SaBiSaBi公布的创作规则，<strong>不得利用基于深度学习、虚拟现实等的新技术新应用制作、发布、传播虚假新闻信息等法律法规禁止的信息内容。您在发布或传播利用基于深度学习、虚拟现实等的新技术新应用制作的非真实音视频信息时，应当以显著方式予以标识，否则SaBiSaBi有权对相关内容和账户采取包括但不限于增加标识、限制、封禁等措施。</strong>
    </p>
    <p><strong>4.2.14
        如用户提供的上传内容含有以上违反政策法律法规的信息或者内容的，由用户直接承担以上导致的一切不利后果，如因此给SaBiSaBi造成不利后果的，用户应负责消除影响，并且赔偿因此导致的一切损失。</strong></p>
    <p></p>
    <p>4.3
      用户不得通过任何渠道或媒体（包括但不限于自媒体等）发出“与SaBiSaBi合作”、“与SaBiSaBi共同出品”等任何携带“SaBiSaBi”品牌的字样，如用户需宣传推广合作节目，用户只能在宣传中提及节目本身而不得提及与SaBiSaBi关系或者擅自以SaBiSaBi品牌进行推广，凡是用户的发稿带有“SaBiSaBi”的一切宣传稿件必须通过SaBiSaBi相应合作部门之书面同意，否则因此给SaBiSaBi造成的一切损失用户应予以赔偿。
    </p>
    <p></p>
    <p>4.4 硬币使用规则</p>
    <p>4.4.1 若无特殊说明，用户通过使用硬币服务获得的硬币、兑换物品等虚拟产品，具体使用方法、期限等以SaBiSaBi页面中附带的说明及用户指南或具备以上解说性质的类似官方文档为准。</p>
    <p>4.4.2 硬币系统会因用户需求、网站策略调整、用户接受程度等因素随时进行调整，具体信息请以当时的页面说明为准。</p>
    <p>4.4.3 硬币系统是SaBiSaBi向用户提供的免费服务，硬币的使用、消耗、兑换、抽奖等行为均不提供发票或其他票据证明。</p>
    <p>4.4.4 基于虚拟商品的性质和特征，SaBiSaBi不提供硬币兑换的虚拟商品的退货、换货服务。对于实物产品，因用户原因导致产品出现瑕疵、损坏的，SaBiSaBi不予负责。</p>
    <p>4.4.5
      您理解并同意，您仅享有硬币的使用权，硬币的所有权归SaBiSaBi所有，未经SaBiSaBi书面同意，禁止以任何形式处置硬币的使用权（包括但不限于赠与、出借、转让、销售、抵押、继承、许可他人使用）。任何用户都应通过正规渠道获得硬币服务，一切通过非官方公布渠道取得的硬币及其衍生服务均不对SaBiSaBi发生法律效力，SaBiSaBi有权单方面收回相关硬币并终止相应服务，严重者SaBiSaBi有权对其用户采取封号处理。
    </p>
    <p>4.4.6 如无特殊约定，用户通过正规渠道获得的硬币及其衍生物品均不以任何现金方式退还，仅能通过享用硬币服务进行等值消耗。用户消耗其所获得全部硬币，且不将继续使用硬币服务的，服务终止。</p>
    <p></p>
    <p></p>
    <p><strong>5. 第三方链接</strong></p>
    <p></p>
    <p>
      <strong>SaBiSaBi服务可能会提供与其他国际互联网网站或资源进行链接。除非另有声明，SaBiSaBi无法对第三方网站之服务进行控制，用户因使用或依赖上述网站或资源所产生的损失或损害，SaBiSaBi不承担任何责任。我们建议您在离开SaBiSaBi，访问其他网站或资源前仔细阅读其服务条款和隐私政策。</strong>
    </p>
    <p></p>
    <p></p>
    <p><strong>6. 知识产权</strong></p>
    <p></p>
    <p>6.1
      受国际版权公约、中华人民共和国著作权法、专利法、及其他知识产权方面的法律法规的保护，SaBiSaBi服务及本服务所使用的软件、技术、商标、材料等的所有知识产权归SaBiSaBi所有和享有。“知识产权”包括在专利法、著作权法、商标法、反不正当竞争法等法律中规定的任何和所有权利、所有权和利益，以及其中的任何和所有应用、更新、扩展和恢复。
    </p>
    <p></p>
    <p>6.2
      用户不得修改、改编、翻译SaBiSaBi服务所使用的软件、技术、材料等，或者创作与之相关的派生作品，不得通过反向工程、反编译、反汇编或其他类似行为获得其的源代码，否则由此引起的一切法律后果由用户负责，SaBiSaBi将依法追究违约方的法律责任。
    </p>
    <p></p>
    <p>6.3 用户不得恶意修改、复制、传播SaBiSaBi服务所使用的软件、技术、材料等。否则，用户自行承担因此而造成对其他人的损害，或者造成对SaBiSaBi公司形象损害，要承担相应的法律责任。</p>
    <p></p>
    <p>6.4 用户不得擅自删除、掩盖或更改SaBiSaBi的版权声明、商标或其它权利声明。SaBiSaBi平台所有设计图样以及其他图样、产品及服务名称，均为SaBiSaBi所享有的商标、标识。任何人不得使用、复制或用作其他用途。
    </p>
    <p></p>
    <p>6.5
      SaBiSaBi对其自制内容和其他通过授权取得的独占内容享有完全知识产权，未经SaBiSaBi许可，任何单位和个人不得私自转载、传播和提供观看服务或者有其他侵犯SaBiSaBi知识产权的行为。否则，SaBiSaBi将追究侵权行为人的法律责任。
    </p>
    <p></p>
    <p>6.6 SaBiSaBi所有和享有的知识产权，不因用户的任何使用行为而发生权利转移。</p>
    <p></p>
    <p></p>
    <p><strong>7. 免责声明</strong></p>
    <p></p>
    <p><strong>7.1
        SaBiSaBi对于任何包含、经由或连接、下载或从任何与有关本网络服务所获得的任何内容、信息或广告，不声明或保证其正确性或可靠性；并且对于用户经本服务上的广告、展示而购买、取得的任何产品、信息或资料，SaBiSaBi不负保证责任。用户自行负担使用本服务的风险。</strong>
    </p>
    <p></p>
    <p><strong>7.2 除非另有明确的书面说明，SaBiSaBi提供给您的全部产品和服务，均是在“按现状”和“按现有”的基础上提供的。</strong></p>
    <p></p>
    <p><strong>7.3 SaBiSaBi对如下事项不做担保（包括但不限于）：</strong></p>
    <p><strong>7.3.1
        SaBiSaBi提供的网站、客户端等软件虽然均已经过SaBiSaBi测试，但由于技术本身的局限性，SaBiSaBi不能保证其与其他软硬件、系统完全兼容。如果出现不兼容的情况，用户可将情况报告SaBiSaBi，以获得技术支持。如果无法解决问题，用户可以选择停止使用SaBiSaBi服务。</strong>
    </p>
    <p><strong>7.3.2
        使用SaBiSaBi服务涉及到Internet服务，可能会受到各个环节不稳定因素的影响。因不可抗力、黑客攻击、系统不稳定、网络中断、用户关机、通信线路等原因，均可能造成SaBiSaBi服务中断或不能满足用户要求的情况。SaBiSaBi不保证SaBiSaBi服务适合用户的使用要求。</strong>
    </p>
    <p><strong>7.3.3
        由于SaBiSaBi提供的客户端等软件可以通过网络途径下载、传播，因此对于从非SaBiSaBi指定官方站点下载、非SaBiSaBi指定途径获得的SaBiSaBi服务相关软件，SaBiSaBi无法保证其是否感染计算机病毒、是否隐藏有伪装的木马程序等黑客软件，也不承担用户由此遭受的一切直接或间接损害赔偿等法律责任。</strong>
    </p>
    <p><strong>7.3.4 SaBiSaBi不做任何与SaBiSaBi服务、产品的安全性、可靠性、及时性和性能有关的担保。</strong></p>
    <p><strong>7.3.5 SaBiSaBi不保证其提供的任何产品、服务或其他材料符合用户的期望。</strong></p>
    <p></p>
    <p><strong>7.4 用户使用经由SaBiSaBi服务下载或取得的任何资料，其风险由用户自行负担，因该使用而导致用户电脑系统损坏或资料流失，用户应负完全责任。</strong></p>
    <p></p>
    <p><strong>7.5 基于以下原因而造成的利润、商业信誉、资料损失或其他有形或无形损失，SaBiSaBi不承担任何直接、间接、附带、衍生或惩罚性的赔偿：</strong></p>
    <p><strong>7.5.1 SaBiSaBi服务全部或部分无法使用；</strong></p>
    <p><strong>7.5.2 经由SaBiSaBi服务购买或取得的任何产品、资料或服务；</strong></p>
    <p><strong>7.5.3 用户资料遭到未授权的使用或修改；</strong></p>
    <p><strong>7.5.4 用户因抄袭本网页代码导致的挂科、重修、成绩下降等；</strong></p>
    <p><strong>7.5.5 其他与SaBiSaBi服务相关的事宜。</strong></p>
    <p></p>
    <p><strong>7.6 您理解并同意，SaBiSaBi由于技术原因，不能保证账号密码安全。因用户账号被泄露或被盗而造成的任何损失，SaBiSaBi不承担补偿责任。</strong></p>
    <p></p>
    <p><strong>7.7
        用户理解并同意自主选择免费下载和使用SaBiSaBi服务，风险自负，包括但不限于用户使用SaBiSaBi服务过程中的行为，以及因使用SaBiSaBi服务产生的一切后果。如因下载或使用SaBiSaBi服务而对计算机系统造成的损坏或数据的丢失等，用户须自行承担全部责任。</strong>
    </p>
    <p></p>
    <p><strong>7.8 用户因认证信息不真实而导致账号、账号内财产等丢失、减少而无法找回的，SaBiSaBi不承担任何法律责任。</strong></p>
    <p></p>
    <p></p>
    <p><strong>8. 服务的变更、中断、终止</strong></p>
    <p></p>
    <p><strong>8.1 您理解并同意，SaBiSaBi基于经营策略的调整，可能会对服务内容进行变更，也可能会中断、中止或终止服务。</strong></p>
    <p></p>
    <p><strong>8.2
        您理解并同意，如SaBiSaBi发生合并、分立、收购、资产转让时，SaBiSaBi可向第三方转让本服务下相关资产；SaBiSaBi亦可在单方通知您后，将本协议下部分或全部服务及相应的权利义务转交由第三方运营或履行。</strong>
    </p>
    <p></p>
    <p><strong>8.3
        您理解并同意，如您在使用SaBiSaBi服务时存在违反法律法规、本协议及其他SaBiSaBi规则、社会公德、公序良俗和/或侵害他人合法权益等情形，SaBiSaBi有权不经通知而单方中断或终止向您提供全部或部分服务。</strong>
    </p>
    <p></p>
    <p><strong>8.4
        您理解并同意，如您实施违反法律法规、社会公德、公序良俗和/或侵害他人合法权益等行为，并因此影响或可能影响SaBiSaBi和/或他人的名誉、声誉或其他合法权益，SaBiSaBi有权不经通知而单方中断或终止向您提供全部或部分服务。</strong>
    </p>
    <p></p>
    <p><strong>8.5 SaBiSaBi终止向您提供服务后，有权根据适用法律的要求删除您的个人信息，或使其匿名化处理，亦有权依照法律规定的期限和方式继续保存您留存于我方平台的其他内容和信息。</strong></p>
    <p></p>
    <p></p>
    <p><strong>9. 注销</strong></p>
    <p></p>
    <p>9.1 用户有权向SaBiSaBi提出账号注销申请（法律法规、本协议或其他SaBiSaBi规则另有规定的除外）。</p>
    <p></p>
    <p><strong>9.2
        特别提醒：注销SaBiSaBi账号后，您将无法再以此账号登录和使用SaBiSaBi的所有产品与服务以及产品及服务中与第三方合作的服务内容，SaBiSaBi也将同时终止在该账号下为您提供我们各项产品与服务，这同时也不可避免地会给您的售后维权带来不便。且SaBiSaBi账号一旦注销完成，将无法恢复。请您在注销前慎重考虑。</strong>
    </p>
    <p></p>
    <p><strong>9.3 如您确定需要注销SaBiSaBi账号的，您已充分知晓并确认，账号注销后该UID仍然存在，但您将不再拥有账号相关的权益，包括但不限于：</strong></p>
    <p>9.3.1 账号注销后，您将无法再以该账号登录、使用SaBiSaBi旗下的全部产品和服务；</p>
    <p>9.3.2
      账号注销后，您曾通过该账号登录、使用SaBiSaBi旗下的全部产品和服务的所有内容、信息、数据、记录将会被删除或匿名化处理，您也无法再搜索、访问、获取、使用和找回，包括但不限于：账号信息（头像、昵称、签名等）、绑定信息；</p>
    <p>9.3.3 账号注销后，该账号的交易记录将被清空且无法恢复；</p>
    <p>9.3.4 账号注销后，SaBiSaBi有权不再为用户提供任何与账号有关的服务；</p>
    <p>9.3.5
      您同意通过账号注销的方式放弃该账号在SaBiSaBi旗下的产品与服务使用期间已产生但未消耗完毕的权益及未来的预期利益。SaBiSaBi将对该账号下的全部权益做清除处理，包括但不限于：您尚未到期的大会员权益、您尚未使用的各类优惠券、您游戏角色下的虚拟货币和道具、您在SaBiSaBi各产品和/或服务中的各类身份权益、您在SaBiSaBi各产品和/或服务中已经购买的未到期的在线服务内容、其他已经产生但未消耗完毕的权益或未来预期的利益。
    </p>
    <p></p>
    <p>9.4 在您向我们申请注销SaBiSaBi账号之前，为了保护您的账号安全和财产权益，您需先行检查与确保您申请注销的账号已经同时满足以下条件，包括但不限于：</p>
    <p>9.4.1 账号系用户通过官方渠道注册，符合本协议及相关规定的账号；且为您本人的会员账号；</p>
    <p>9.4.2 按照客服要求的注销流程进行注销操作；</p>
    <p>9.4.3 账号处于安全状态，包括：未处于申请找密码、修改手机号的状态中；无未处理完毕的（被）投诉、举报；其他不安全/异常状态；</p>
    <p>9.4.4 账号内无未处理完毕的交易；</p>
    <p>9.4.5 如账号曾开通了“连续包月/包季/包年”服务的，您已经自行取消该服务；</p>
    <p>9.4.6 其他应满足的条件。</p>
    <p></p>
    <p>9.5 如您已充分阅读并理解9.2和9.3条的内容，并确认已经满足9.4条的全部条件，可以向客服提出账号注销申请。客服将对您的账号安全状态以及您的相关产品与服务的使用情况等进行审核，综合判断您的账号是否符合条件。</p>
    <p></p>
    <p><strong>9.6
        SaBiSaBi账号一旦注销，您与我们曾签署过的相关用户协议、其他权利义务性文件等相应终止（但已约定继续生效的或法律另有规定的除外）。同时，您知悉并同意：即使您的账号被注销，也并不减轻或免除您在协议期间内应根据相关法律法规、相关协议、规则等（可能）需要承担的相关责任。</strong>
    </p>
    <p></p>
    <p></p>
    <p><strong>10. 隐私政策</strong></p>
    <p></p>
    <p>10.1
      SaBiSaBi注重保护用户的个人信息及个人隐私。个人信息是指以电子或者其他方式记录的能够单独或者与其他信息结合识别特定自然人身份或者反映特定自然人活动情况的各种信息。您在下载、安装、启动、浏览、注册、登录、使用SaBiSaBi的产品与/或服务时，SaBiSaBi将按照平台公布的《SaBiSaBi隐私政策》的约定处理和保护您的个人信息，因此希望您能够仔细阅读、充分理解《SaBiSaBi隐私政策》的全文，并在需要时，按照《SaBiSaBi隐私政策》的指引，作出您认为适当的选择。
    </p>
    <p></p>
    <p><strong>10.2
        您应当在仔细阅读、充分理解</strong><strong>《SaBiSaBi隐私政策》</strong><strong>后使用SaBiSaBi的产品与/或服务，如果您不同意政策的内容，将可能导致SaBiSaBi的产品与/或服务无法正常运行，或者无法达到SaBiSaBi拟达到的服务效果。您使用或继续使用SaBiSaBi提供的产品与/或服务的行为，都表示您充分理解和同意</strong><strong>《SaBiSaBi隐私政策》</strong><strong>（包括更新版本）的全部内容。</strong>
    </p>
    <p></p>
    <p>10.3 如您对《SaBiSaBi隐私政策》或对您的个人信息相关内容有任何问题（包括问题咨询、投诉等），您可通过《SaBiSaBi隐私政策》公布的联系方式联系我们。</p>
    <p></p>
    <p></p>
    <p><strong>11. 未成年人条款</strong></p>
    <p></p>
    <p>11.1 SaBiSaBi非常注重未成年人的保护。若您为未成年人，应在法定监护人监护、指导下阅读本协议，并在取得法定监护人的同意后使用SaBiSaBi的产品与/或服务。</p>
    <p></p>
    <p>11.2
      法定监护人应指导子女上网应该注意的安全问题，防患于未然。SaBiSaBi不鼓励未成年人使用SaBiSaBi的产品/服务进行任何消费行为，如有消费，未成年人应以法定监护人名义申请消费或在法定监护人明示同意下操作。未成年人使用SaBiSaBi服务的行为即视为已获得了法定监护人认可。
    </p>
    <p></p>
    <p>11.3 <strong>SaBiSaBi提醒未成年人在使用SaBiSaBi服务时，要善于网上学习，认清网络世界与现实世界的区别，避免沉迷于网络，影响日常的学习生活。</strong></p>
    <p></p>
    <p>11.4 对于未成年人的隐私保护，SaBiSaBi将严格按照平台公布的《SaBiSaBi隐私政策》中阐述的方式、方法执行。</p>
    <p></p>
    <p></p>
    <p><strong>12. 法律适用和管辖</strong></p>
    <p></p>
    <p>12.1 本协议的生效、履行、解释及争议的解决均适用中华人民共和国法律。本条款因与中华人民共和国现行法律相抵触而导致部分无效，不影响其他部分的效力。双方同意，解决争议时，应以您同意的最新版《SaBiSaBi用户使用协议》为准。
    </p>
    <p></p>
    <p><strong>12.2 如就本协议内容或其执行发生任何争议，应尽量友好协商解决；协商不成时，则争议各方均一致同意将争议提交上海仲裁委员会按照其仲裁规则进行仲裁。仲裁裁决为一裁终局，对各方均有法律约束力。</strong>
    </p>
    <p></p>
    <p><strong>12.3 为免疑义，除另有相反书面约定外，本条法律适用和管辖条款效力及于本协议及其他SaBiSaBi规则，包括其修订、补充及更新。</strong></p>
    <p></p>
    <p></p>
    <p><strong>13. 协议的修改与通知</strong></p>
    <p></p>
    <p>13.1 SaBiSaBi有权依据国家政策、技术条件、产品功能等变化需要而对本协议进行修改并将修改后的协议予以发布。</p>
    <p></p>
    <p>13.2 前述内容一经正式发布，SaBiSaBi将以适当的方式（包括但不限于弹窗、邮件、站内信、网站公告等）提醒您更新的内容，以便您及时了解本协议的最新版本。</p>
    <p></p>
    <p>13.3 您知悉，本协议的名称、各章节标题仅为方便及阅读而设，且因本协议在我们平台展示之处较多，全部协议更名完毕可能需要一段时间，在此期间内，两个名称的同时存在并不影响正文其中任何条款的含义或解释。</p>
    <p></p>
    <p><strong>13.4
        修改后的内容将构成本协议不可分割的组成部分，您应同样遵守。您对修改后的协议有异议的，请立即停止登录、使用SaBiSaBi及相关服务，若您登录或继续使用SaBiSaBi及相关服务，则视为您已充分阅读、理解并接受更新后的本协议并愿意受更新后的本协议的约束。</strong>
    </p>
    <p></p>
  </div>
</div>
{% endblock %}