<!-- extend Space layout -->
<!-- Author:LPH Date:2021/11/6 License:GPL3.0 -->
{% extends "Space.html" %}

{%block title%}
Space of {{user.nickName}}
{% endblock %}

{% block userPhotoPath %}
<img class="mr-3 mt-2 " src="{{ url_for('static',filename='images/{{user.nickName}}.png') }}" alt="User photo">
{% endblock %}

{% block userNickName %}
{{user.nickName}}
{% endblock %}

{% block userID %}
{{user.id}}
{% endblock %}

{% block userVIP %}
{% if user.role_id == 'VIP' %}
<span class="badge badge-success ml-2">VIP</span>
{% else %}
<span class="badge badge-secondary ml-2">Not VIP</span>
{% endif %}
{% endblock %}

{% block userLevel %}
<div class="progress-bar bg-success" role="progressbar" aria-valuenow={{user.levelProgress}} aria-valuemin="0" aria-valuemax="100" style="width: {{user.levelProgress}}%"> {{user.level}}</div>
{% endblock %}

{% block userCoins %}
{{user.coins}}
{% endblock %}

{% block userLikes %}
{{user.likes}}
{% endblock %}

{% block userIntroduction %}
{{user.about_me}}
{% endblock %}

{% block userProfile %}
            <div class="row">
                <div class="col-6 col-xl-4">
                    <h4>Email</h4>
                </div>
                <div class="col-6 col-xl-8">
                    <h5 class="text-right"><span aria-hidden="true"></span>{{user.email}}</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-xl-4">
                    <h4>Phone</h4>
                </div>
                <div class="col-6 col-xl-8">
                    <h5 class="text-right"><span aria-hidden="true"></span>{{user.phone}}</h5>
                </div>
            </div>
{% endblock %}

{% block userFavouriteVideos %}
<!-- Nested media object -->
<div class="media">
    <img class="d-flex mr-3" src="{{user.videocols[1].video.thumbnail}}" alt="placeholder image">
    <div class="media-body">
        <h5 class="mt-0">{{user.videocols[0].video.title}}</h5>
        {{user.videocols[0].video.info}}
        <!-- Nested media object -->
    </div>
</div>
<!-- Nested media object -->
<div class="media">
    <img class="d-flex mr-3" src="{{user.videocols[1].video.thumbnail}}" alt="placeholder image">
    <div class="media-body">
        <h5 class="mt-0">{{user.videocols[1].video.title}}</h5>
        {{user.videocols[1].video.info}}
    </div>
</div>
{% endblock %}
