{% extends 'base/base.html' %}

{%block title%}
{{video.title}}
{%endblock%}
	
{%block style%}
{#<!-- <link rel="stylesheet" href="css/bootstrap-4.4.1.css"> -->#}
{{super()}}
<link rel="stylesheet" href="{{url_for('static',filename='css/space.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='css/colours.css')}}">

{%endblock%}

{% block script %}
  {{super()}}
  <script src="{{url_for('static',filename='js/granim.js')}}"></script>
  <script src="{{url_for('static',filename='js/background.js')}}"></script>
  <script>
    var granimInstance = new Granim({
      element: '#canvas-image-blending',
      direction: 'top-bottom',
      isPausedWhenNotInView: true,
      image : {
          source: '{{url_for("static",filename="images/bg-forest.jpg")}}',
          blendingMode: 'multiply'
      },
      states : {
          "default-state": {
              gradients: [
                  ['#29323c', '#485563'],
                  ['#FF6B6B', '#556270'],
                  ['#80d3fe', '#7ea0c4'],
                  ['#f0ab51', '#eceba3']
              ],
              transitionSpeed: 7000
          }
      }
  });
  </script>
  <script src="{{url_for('static',filename='js/artplayer.js')}}"></script>

<script src="{{url_for('static',filename='js/artplayer-plugin-danmuku.js')}}"></script>
<script src="{{url_for('static',filename='js/artplayer-tool-thumbnail.js')}}"></script>
<script type="text/javascript">
  var url = '../'+'{{video.url}}';
  var art = new Artplayer({
    container: '.artplayer-app',
    url: url,
    title: 'One More Time One More Chance',
    poster:'',
    volume:0.5,
    muted:false,
    autoplay:false,
    autoMini:true,
    flip:true,
    rotate:true,
    setting:true,
    playbackRate:true,
    screenshot:true,
    hotkey:true,
    pip:true,
    fullscreen:true,
    fullscreenWeb:true,
    subtitleOffset:true,
    miniProgressBar:true,
    plugins:[
    artplayerPluginDanmuku({
      // Damuku xml，like the Bilibili danmuku format
      danmuku: ' ',
  }),
],
subtitle:{
    url:'../static/video/{{video.title}}.ass',
    type:'ass',
    encoding:'utf-8',
    style:{
      color:"#03A9F4",
      'font-size':'30px',
    }
},
controls:[
  {
    position: 'right',
    html: 'Hide',
    click: function (_, event) {
        if (art.plugins.artplayerPluginDanmuku.isHide) {
            art.plugins.artplayerPluginDanmuku.show();
            event.target.innerText = 'Hide';
        } else {
            art.plugins.artplayerPluginDanmuku.hide();
            event.target.innerText = 'Show';
        }
    },
  },
  {
    position: 'right',
    html: 'Send',
    click: function () {
        var text = prompt('Input the danmu text', 'danmu text');
        if (!text || !text.trim()) return;
        var color = '#' + Math.floor(Math.random() * 0xffffff).toString(16);
        art.plugins.artplayerPluginDanmuku.emit({
            text: text,
            color: color,
            border: true,
        });
    },
  }
],
});

</script>   
{% endblock script %}
{% block canvas %}
<canvas id="background" style="position: absolute;top:0;bottom:0;left:0;right:0;margin:0;padding:0;z-index:-100"></canvas>
{% endblock canvas %}

{% block content %}
<div class="container mt-4" style="background-color:white;">
  <div class="row ml-5"> 
    {#<!--正在播放-->#}
    <div class="col-md-8">
      <div>
        <h4>{{video.profile}}</h4>
        <h6>{{video.ViewCounts}}播放量 · 总弹幕数{{video.BulletScreenNumber}}  {{video.ReleaseTime}}</h6>
      </div>
      <div class="media-object-default video">
        {% block videoplayer %}
        {#<video src="{{url_for('static',filename='{{video.Isplaying}}')}}" controls="controls" class="video"> 视频加载失败 </video>#}
        <div class="artplayer-app" style="width: 100%;height: 400px;"></div>
        {% endblock videoplayer %}
      </div>
      {#<!--发送弹幕框（未完成）-->#}
      <form class="form-inline mt-3" role="form">
        <div class="form-group">
          <h5>{{video.isWatching}}<small>人在看，已装填{{video.BulletScreenNumber}}条弹幕 </small></h5>
          <label class="sr-only" for="name">名称</label>
        </div>
        <input type="text" class="form-control ml-5" id="name" placeholder="发个弹幕见证当下">
        <button type="submit" class="btn btn-default">发送</button>
      </form>
      {#<!--点赞收藏评论转发--> #}
      {#<form>
        <input type="text" id="name" placeholder="hello">  
        <button type="submit" class="btn btn-default btn-lg" role="button"><img src="static/images/dianzan.png" alt="" width="30px">{{video.LikeNumber}}</button>
        <button type="submit" class="btn btn-default btn-lg" role="button"><img src="static/images/toubi.png" alt="" width="30px">{{video.CoinNumber}}</a> 
        <button type="submit" class="btn btn-default btn-lg" role="button" ><img src="static/images/shoucang.png" alt="" width="30px">{{video.CollectionNumber}}</a> 
        <button type="submit" class="btn btn-default btn-lg" role="button"><img src="static/images/zhuanfa.png" alt="" width="30px">{{video.TransmitNumber}}</a> 
      </form>#}
      <div class="row">
        <div class="col-2">
        <form role="form" class="mt-2",method="post">
            {{form.hidden_tag()}}
            {{buttonform1.submit(class="btn btn-primary",id="like")}}
            <span class="badge badge-info align-middle" style="font-size: 1em;">{{video.likenum}}</span>
          </form>
        </div>
        <div class="col-2">
          <form role="form" class="mt-2",method="post">
            {{buttonform2.submit(class="btn btn-success",id="coin")}}
            <span class="badge badge-info align-middle" style="font-size: 1em;">{{video.coinnum}}</span>
          </form>
        </div>
      <div class="col-1">
        <form role="form" class="mt-2",method="post">
            {{buttonform3.submit(class="btn btn-info")}}
        </form>
      </div>
      <div class="col-1">
        <form role="form" class="mt-2",method="post">
            {{buttonform4.submit(class="btn btn-danger")}}
          </form>
      </div>
    </div>
      {#<!-- form for sending comments -->#}
      {% block commentForm %}
      <hr>
      <div class="col-md-10 mt-2">
        {#<!-- {{wtf.quick_form(form)}} -->#}
        <form method="POST">
          <div class="input-group mb-3" style="width: 100%;">
            {{form.hidden_tag()}}
            {{form.body(class="form-control",placeholder="发送一条友善的评论吧",)}}
            <div class="input-group-append">
              {{form.submit(class="btn btn-outline-secondary",id="button-addon2")}}
            </div>
          </div>
        </form>
      </div>
      {% endblock commentForm %}

      {% block showComment %}
      <hr>
      <ul class="posts">
        {% for comment in comments %}
          <li class="comment">
            <div class="profile-thumbnail">
              {#<!-- add user profile thumbnails here -->#}
            </div>
            <div class="comment-time">{{moment(comment.addtime).fromNow(refresh=True)}}</div>
            <div class="comment-author">
              <a href="{{url_for('.spaceUser',username=comment.user.username)}}">
                {{comment.user.Nickname}}
              </a>
            </div>
          </li>
        {% endfor %}
      </ul>
      {% endblock showComment %}
    </div>
    
    <div class="col-md-4"> 
      {#<!--作者名及个人简介部分-->#}
      <div class="media">
        <div class="media-left"> <img src="{{url_for('static',filename='{{video.AuthorPhoto}}')}}"  alt="" class="rounded-circle" style="width:60px"> </div>
        <div class="media-body mt-2">
          <h6 class="media-heading">{{video.AuthorName}}<br>
            <small>{{video.AuthorProfile}}</small></h6>
        </div>
      </div>
      {#<!-- 标准的按钮 -->#}
      <button type="button" class="btn btn-info colour-pink-background">为TA充电</button>
      <button type="button" class="btn btn-primary colour-white">+关注  {{video.AuthorFans}}</button>
      <hr>
      
      {#<!--弹幕列表-->#}
      <button type="button" class="btn btn-light" data-toggle="collapse" 
    data-target="#demo"> 弹幕列表 ： </button>
      <div id="demo" class="collapse in"> {{呜呜呜别看了啥也没有}} </div>
      
      {#<!--相关推荐-->#}
      <div>
        <div>
          <hr>
          <h4>相关推荐</h4>
        </div>
        {% for videos in video.recommendVideo %}
        <div class="media">
          <div class="media-middle"> <a href="{{url_for('static',filename='{{videos.Path}}')}}"><img src="{{url_for('static',filename='{{videos.Picture}}')}}"  alt="图片加载失败" style="width:100px"></a> </div>
          <div class="media-body mt-2"> <a href="{{url_for('static',filename='{{videos.Path}}')}}">
            <h6 class="media-heading">{{videos.profile}}<br>
              <small>{{videos.author}} {{videos.ViewCounts}}</small></h6>
            </a> </div>
        </div>
        {% endfor %}

      </div>
    </div>
  </div>
{%endblock content%}

